# Xcode
*.xcuserstate
*.xcworkspace
xcuserdata/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Carthage
Carthage/Build/
Carthage/Checkouts/

# IDEs
*.xcscmblueprint
*.xcworkspace/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Secrets
*.xcconfig
Secrets/
