# IDE
.idea/
*.xcworkspace
xcuserdata/
*.xcuserstate

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Dependencies
Pods/
Carthage/
.build/

# Misc
*.log
*.swp
*~
